<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= require('html-loader!../chunks/head.html').default %>
  </head>
  <body>
    <header class="header">
      <h1>Work in progress</h1>
      <%= require('html-loader!../chunks/menu.html').default %>
    </header>
    <main><%= htmlWebpackPlugin.options.content %></main>
    <footer>
      <%= foo %>
      <include src="../chunks/footer.html"/>
      <%= require('html-loader!../chunks/footer.html').default %>
    </footer>
  </body>
</html>
