<footer class="footer page__footer">
  <div class="footer__inner">
    <p class="footer__text">
      Check the <a class="footer__link" href="https://github.com/temarazin/temarazin.com">GitHub repository</a> for this site
    </p>
  </div>
</footer>
