<nav>
  <ul class="mainmenu">
    <li class="mainmenu__item">
      <a href="./index.html" class="mainmenu__link">Home</a>
      <a href="./about.html" class="mainmenu__link">About</a>
    </li>
  </ul>
</nav>
